.button {
    background: none;
    border: none;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
    font-weight: 300;
}

.title {
    font-family: 'Cormorant Garamond', serif;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
}

.buttonContainer {
    display: flex;
    gap: 60px;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    margin: 0;
}